.learn_section {
  background-color: darken($color: $page-background-color, $amount: 10);

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px auto;

    .logo-section {
      min-width: 250px;
      width: 30%;
      margin: 0px auto;
      text-align: center;

      img {
        width: 100%;
      }

      figcaption {
        font-weight: bold;
        font-size: 2.5rem;
      }
    }

    p:first-of-type {
      text-align: center;
      margin: 0.5rem auto;
      font-size: 1.2rem;
    }

    .all-courses-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

      $secciones: "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10";
      $fondos: (
        "0": lighten(red, 20),
        "1": lighten(blue, 20),
        "2": lighten(green, 20),
        "3": lighten(olive, 10),
      );
      $fondosHover: (
        "0": red,
        "1": blue,
        "2": green,
        "3": olive,
      );

      @each $seccion in $secciones {
        .course-grid-#{$seccion} {
          margin: 1rem;
          display: grid;
          grid-template-columns: 40% 60%;
          background-color: map-get($map: $fondos, $key: $seccion);

          .section-logo {
            @include flexCenterItems;
            flex-direction: column;
            padding: 1rem 0rem;
            background-color: white;

            img {
              width: 50%;
            }

            figcaption {
              font-weight: bold;
              font-size: 2rem;
            }
          }

          .subsections-list {
            border: none;
            overflow: hidden;
            width: 100%;

            ul {
              width: 100%;
              height: 100%;
              list-style: none;
              display: flex;
              flex-direction: column;
              color: white;
              font-weight: bold;
              position: relative;

              li {
                flex: 1 1 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 1rem;
                transition: background-color 0.5s linear;

                &.see-more-btn {
                  position: absolute;
                  background-color: map-get($map: $fondosHover, $key: $seccion);
                  text-align: center;
                  @include flexCenterItems;
                  bottom: -2rem;
                  width: 100%;
                  transition: bottom 0.5s;
                  transition-timing-function: ease-in-out;
                }

                img {
                  display: none;
                }
              }

              &:hover {
                li.see-more-btn {
                  bottom: 0px;
                  padding: 0.2rem;
                }
              }

              li:hover {
                background-color: map-get($map: $fondosHover, $key: $seccion);
                cursor: pointer;

                img {
                  display: block;
                }
              }
            }

            
          }
        }
      }
    }
  }
}
